* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-bg-color: #f12778;
  --secundary-bg-color: #f4da48;
  --primary-color: #8833b7;
  --secundary-color: #e93766;
  --card-color: #e8e8e8;
  --text-color: #202126;
  --color-transparent: #ffffff4d;
  --border-color-skills: #a8a8a89e;
  --border-color-profile: #90919681;
}

.dark-mode {
  --primary-bg-color: #2a2b3c;
  --secundary-bg-color: #14151c;
  --primary-color: #9f3fd3;
  --secundary-color: #ff366c;
  --card-color: #17181e;
  --text-color: #e8e8e8;
  --color-transparent: #0000004d;
  --border-color-skills: #ffffff4d;
  --border-color-profile: #bbbbbb2d;
}

body {
  display: flex;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    var(--secundary-bg-color),
    var(--primary-bg-color)
  );
}

#content {
  display: block;
  height: 50%;
  overflow: hidden;
  margin: auto;
  transition: 0.5;
}

/* -------- TOGGLE BUTTON -------- */

#toggle {
  overflow: hidden;
  display: block;
  width: 100px;
  height: 50px;
  margin: auto;
  font-size: 1.25rem;
  background: #f1f1f1;
  border-radius: 50px;
  box-shadow: inset -6px 2px 8px rgba(0, 0, 0, 0.1),
    inset 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 -2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.5s;
}

#toggle.dark-mode {
  background: #1c1f26;
  box-shadow: inset 0 2px 40px rgba(0, 0, 0, 0.1),
    inset 0 6px 6px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle .indicator {
  display: flex;
  width: 50px;
  height: 50px;
  background: linear-gradient(to top, #d7d7d7, #f8f8f8);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.75),
    inset 0 3px 2px rgb(255, 255, 255),
    inset 0 -1.5px 3px rgb(255, 255, 255);
  transition: 0.5s;
}

#toggle.dark-mode .indicator {
  translate: 50px;
  background: linear-gradient(to bottom, #2d303a, #1c1f26);

  box-shadow: 6px 0 10px rgba(0, 0, 0, 0.3),
    inset 0 2px 2px rgba(255, 255, 255, 0.2);
}

/* -------- BACKGROUND CARD -------- */

#card {
  width: 350px;
  height: 200px;
  margin: 75px 0 0;
  border-radius: 1.25rem;
  background-color: var(--card-color);
  transition: 0.5s;
  z-index: 3;
  overflow: hidden;
}

/* -------- PROFILE PHOTO AND WALLPAPER -------- */

.photo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 150px;
  height: 150px;
  border-radius: 1.25rem;
  border: solid 1px var(--border-color-profile);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 10;
  transition: 0.5s;
}

.photo img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.background {
  display: flex;
  background: url(https://wallpapers.com/images/hd/gray-minimalist-abstract-art-hnepb3z44swhhtie.jpg)
    no-repeat center center/cover;
  height: 75px;
  z-index: 9;
  border-radius: 0 0 0 50px;
  transition: 0.5s;
}

/* -------- TEXT CONTENT -------- */

#card .content-card {
  padding: 10px 0 10px 0;
  overflow: hidden;
}

#card .content-card .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}

#card .content-card .details h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.2rem;
}

#card .content-card .details h2 span {
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.5;
}

.aboutMe-text h1 {
  font-size: 2.25rem;
}

.aboutMe-text h1 span {
  background: -webkit-linear-gradient(
    45deg,
    var(--secundary-color),
    var(--primary-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutMe-text .text {
  padding: 0 22px;
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.75;
  text-align: justify;
  text-align-last: center;
  margin-top: 5px;
}

/* -------- DROP BUTTON -------- */

#drop-button {
  color: var(--text-color);
  cursor: pointer;
  font-size: 2rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

#drop-button:hover {
  filter: opacity(0.85);
}

/* -------- SOCIAL MEDIA -------- */

#social-media {
  margin: 5px auto 10px;
  width: 215px;
  padding: 0.6rem;
  border-radius: 3rem;
  background: linear-gradient(
    45deg,
    var(--secundary-color),
    var(--primary-color)
  );
  color: var(--card-color);
  text-align: initial;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
  overflow: hidden;
  transform-origin: 18px 18px;
}

.social-control {
  position: relative;
  transform-origin: 18px 18px;
  transition: transform 0.5s ease;
  transform: rotate(0);
}

#social-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: var(--secundary-color);
  background-color: var(--card-color);
  font-size: 1.25rem;
  font-weight: 800;
  padding: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

#social-toggle:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.social-text {
  display: inline-flex;
  margin: 0 0 0 7.5px;
  font-size: 1.05rem;
  font-weight: 500;
}

.social-icons {
  list-style: none;
  display: inline-flex;
  column-gap: 1.1rem;
  transform: rotate(135deg);
  transform-origin: 18px 18px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: var(--color-transparent);
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.6rem;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.social-text,
.social-icons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 3rem;
}

.social-text {
  top: 0.5rem;
}

.animation .social-control {
  transform: rotate(-135deg);
}

#social-media.animation {
  animation: up-animation 0.75s ease-in-out forwards;
}

@keyframes up-animation {
  0%,
  100% {
    transform: rotate(0);
  }
  50%,
  60% {
    transform: rotate(-5deg);
  }
  88% {
    transform: rotate(1deg);
  }
}

#social-media.down-animation {
  animation: down-animation 0.75s ease-in-out forwards;
}

@keyframes down-animation {
  0%,
  100% {
    transform: rotate(0);
  }
  50%,
  60% {
    transform: rotate(6deg);
  }
  88% {
    transform: rotate(-1deg);
  }
}

/* -------- SKILLS CARD -------- */
.card-back {
  position: relative;
  display: inline-block;
  margin: auto;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(100%);
  font-weight: 500;
  z-index: 1;
}

.plus-button {
  display: flex;
  position: relative;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0.6rem;
  font-size: 1.25rem;
  color: var(--card-color);
  background: linear-gradient(
    45deg,
    var(--secundary-color),
    var(--primary-color)
  );
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 5;
}

.card-on .plus-button {
  transform: rotate(360deg) scale(0.7);
  margin-top: 65px;
}

.card-plus .card-back {
  width: 100%;
  transition: 0.35s ease-in-out;
}

.card-back .dev-icons {
  margin: 15px 0 5px;
}
.card-back .dev-icons .skills-text {
  margin-top: 5px;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-back .dev-icons i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--border-color-skills);
  font-size: 1.5rem;
  margin: 8px;
  padding: 12px 15px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.card-back .dev-icons i:hover {
  color: var(--color);
  border: 1.5px solid var(--color);
  transform: scale(1.2);
}

.card-back button {
  text-decoration: none;
  color: var(--card-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 120px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.card-back .myPortfolio {
  background-color: var(--secundary-color);
}

.card-back .contactMe {
  background-color: var(--primary-color);
}
.card-back .contactMe:hover,
.card-back .myPortfolio:hover {
  background: linear-gradient(
    45deg,
    var(--secundary-color),
    var(--primary-color)
  );
}

.card-back a button:hover {
  transition: 0.15s ease-in-out;
  transform: scale(1.1);
}

.card-on .card-back {
  transform: translateY(-80%);
}

.card-on .details {
  transform: translateY(-100%);
}
